namespace:
  name: sandbox

service:
  port: 4111
  targetPort: 3111
  protocol: TCP
  type: ClusterIP

image:
  repository: yfann/techtrends
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1

resources:
  reqeusts:
    memory: "64Mi"
    CPU: "250m"
  limits:
    momory: "128Mi"
    CPU: "500m"

containerPort: 3111

livenessProbe:
  path: /healthz

readinessProbe:
  path: /healthz
